
  body {
      margin: 0;
      padding: 0;
      background-image: url(../img/fundo.jpg) ;
      background-size: cover; /* Faz a imagem preencher a tela */
      background-position: center; /* Centraliza a imagem */
      height: 100vh; /* Garante que a imagem ocupe toda a altura da tela */
    }
  
.navbar-toggler {
  border: none;
  background-color: transparent;
  font-size: 1.5rem;

}

.navbar-toggler-icon {
  color: #d7ff22;
}

@media (max-width: 768px) {
  .logo-img {
    height: 40px;
  }
  .navbar-nav .nav-link {
    margin: 5px 0;
  }
  .menu-header {
    padding: 5px 0;
  }
}

/* Cards */
.card-title {
  font-size: 1.25rem;
  color: #d0df04;
  text-align: center;
}

.card-text {
  font-size: 1rem;
  color: #555;
}

/* Seções de informações */
.row h2 {
  font-size: 1.5rem;
  color: #fbff14;
}

.row p {
  font-size: 1rem;
  color: #000000;
}

/* Botões de redes sociais */
.whatsapp-btn img,
.instagram-btn img {
  position: fixed;
  width: 50px;
  height: 50px;
  z-index: 10;
  cursor: pointer;
}

.whatsapp-btn {
  bottom: 20px;
  left: 20px;
}

.instagram-btn {
  bottom: 20px;
  left: 80px;
}

/* Mapa */
iframe {
  
  border: 0;
  width: 100%;
  max-width: 600px;
  height: 450px;
  background-color: #fff9f9;
}
.logo-img {
      /* Ajuste o tamanho desejado */
      width: 70px; /* Altere conforme necessário */
      height: auto; /* Mantém a proporção */
    }
  

/* Footer */
footer {
  background-color: #346aa0;
  border-top: 2px solid #ddd;
  text-align: center;
  padding: 10px 0;
  margin-top: 20px;
}

footer a {
  color: #007bff;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}


.floating-buttons {
  position: fixed;
  bottom: 110px; /* Distância da parte inferior da tela */
  right: 20px;  /* Distância da lateral direita */
  display: flex;
  flex-direction: column;
  gap: 10px; /* Espaçamento entre os botões */
  z-index: 1000; /* Garante que fique por cima de outros elementos */
}
.floating-buttons a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%; /* Torna os botões circulares */
  background-color: rgb(17, 17, 17);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  transition: transform 0.3s, box-shadow 0.3s;
}
.floating-buttons a img {
  width: 30px; /* Tamanho do ícone */
  height: 30px;
}
.floating-buttons a:hover {
  transform: scale(1.1); /* Aumenta o botão ao passar o mouse */
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}
.pilates-card {
  background-color: #0080ff; /* Cor de fundo clara */

}

.terapias-card {
  background-color: #0080ff; /* Cor de fundo um pouco mais escura */
width: 10px;
}

.card {
  border: none; /* Remove bordas adicionais (opcional) */
  margin: 30px; /* Ajusta espaçamento entre cards (opcional) */
  background-color: aqua;
}




.carousel {
  width: 100vw; /* Ocupa 100% da largura da janela de visualização */
height: 10%;
}

.carousel-inner img {
  width: 10%; /* Garante que as imagens preencham o carrossel */
  height: 10%; /* Mantém a proporção das imagens */
}

.card-title{
  width: 30%;
}


